body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 21px !important;
    line-height: 1.3 !important;
}

i {
    margin-left: 20px;
    margin-right: 20px;
}

.menu {
    background-color: cadetblue !important; 
    color: white !important;
}

.menu h1 {
    margin: 0;
}

.banner {
    background-image: url(image/banner.jpg);
    background-size: cover;
    height: 250px;
    width: 100%;
}

.principal h1 {
    margin: 0;
}

.principal h2 {
    color: rgba(0, 0, 0, 0.541176);
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 22px;
}

.principal p {
    margin-top: 29px;
}

a {
    color: cadetblue !important;
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

.conteudo-left {
    width: 500px;
    float: left;
}
